.DS_Store
**/xcuserdata/
*.xcuserstate
*.xcscmblueprint
/DerivedData/
/ios-development-team.local
/src/cpp/build*/
/build/
/build-archive/
*.log
/documents/
/PatchNotes/
/docs/
/third_party/
/AppIcons-18/
/tools/ps_realgan_export/weights/
/src/build/
